<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<p>Try to change the names.</p>

<div ng-app="myApp" ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}

</div>

<script>
//set default value in textbox
var app = angular.module('myApp', []); //ng js module
//ng js controller
app.controller('myCtrl', function($scope) {
    $scope.firstName= "Prakash";
    $scope.lastName= "Gohil";
});
</script>

</body>
</html>
