<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="formCtrl">
    <form name="myForm">
        First Name:<br>
        <input type="text" name="firstName" ng-model="user.firstName"><br>
        Last Name:<br>
        <input type="text" name="lastName" ng-model="user.lastName">
        <br><br>
        <button ng-click="reset()">Reset</button>
    </form>
    <p>First Name is valid?: {{ myForm.firstName.$valid }}</p>
    <p>form = {{user}}</p>
    <p>master = {{master}}</p>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('formCtrl', function($scope) {
        $scope.master = {firstName:"Prakash", lastName:"Gohil"};
        $scope.reset = function() {
            $scope.user = angular.copy($scope.master);
        };
        $scope.reset();
    });
</script>

</body>
</html>
